
BeginOperator CLOVER
  kappa = 0.1394267
  2kappamu = =TWOKAPPAMU=
  csw = 1.69
  maxsolveriterations = 1000
  solverprecision = 1e-22

  solver = mg
  useexternalinverter = quda
  usesloppyprecision = single
  useevenodd = yes
EndOperator

